<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css" />
  </head>
  <body>
    <div style="display: flex; justify-content: center">
      <div class="create-icon">
        <p style="font-size: 3rem; font-weight: 800">+</p>
        <textarea placeholder="Write your thoughts here" class="tweet hidden" name="tweet" id=""></textarea>
        <button class="tweet-button hidden"><h2>POST</h2></button>
      </div>
    </div>
    <section class="whole-container">
      <header>
        <section class="story-container">
          <% userNamesArray.forEach(element => { %>
          <div class="story-tab"><h2><%= element %></h2></div>

          <% }); %>
        </section>
        <section class="profile-container">
          <div class="profile-tab" style="text-align: center">
            <h1><%= user %></h1>
          </div>
        </section>
      </header>

      <section class="tweet-container">
        <% usersTweetsArray.forEach(item=>{ let key = Object.keys(item)[0]; let
        value = item[key];%>

        <div class="tweet-tab">
          <h4 style="margin-top: 3rem"><%= value %></h4>
          <h5 style="text-align: end">~ <%= key%></h5>
        </div>
        <% }) %>
      </section>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
    <script>
      $(".create-icon").click(function (e) {
        
        $(this).addClass("expand");
        $('.tweet,button').removeClass('hidden')
        $('p').addClass('hidden')
      });
      $(document).click(function(e){
        
        if(!(e.target.closest('.create-icon'))){
          $('.create-icon').removeClass("expand");
        $('.tweet,button').addClass('hidden')
        $('p').removeClass('hidden')
        }
      })
    </script>
  </body>
</html>
