<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/myprofile.css">
</head>
<body>
    <header>
        <div class="username" style="text-align: center;" ><h1 style="margin: auto; color: #E4CCFF;"><%= user %></h1></div>
        <div class="home"><a style="text-decoration: none; color: aqua; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="/home">HOME</a></div>
    </header>

    <section>
        
    </section>


</body>
</html>